<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348674531283-05883vr2qvm00b5ulgvmt086o4q8ln1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348674531283-05883vr2qvm00b5ulgvmt086o4q8ln1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCUaZnOjYzpo7EAdjZjxAsUK6Vkxrnx_k4</string>
	<key>GCM_SENDER_ID</key>
	<string>348674531283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeLabWeb</string>
	<key>PROJECT_ID</key>
	<string>codelab-3ff6a</string>
	<key>STORAGE_BUCKET</key>
	<string>codelab-3ff6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348674531283:ios:d6aee76e6a681ed0825926</string>
</dict>
</plist>